body{
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}


h1{
    margin-top: 0em;
    border: solid;
    text-align: center;
}


p{
    text-align: center;
}


img{
    justify-content: center;
    margin-top: auto;
    margin-left: 0%;
    width: 100vw;
    height: 85vh;
    background-image: url('logoinicial.jpg');
}